<!DOCTYPE html>
<html ng-app="webContentPlugin">
  <head lang="en">
    <meta charset="UTF-8">
    <title>content</title>
    <!-- CSS -->
    <link href="../../../../styles/helper.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/dialogs.css" rel="stylesheet">
    <link href="assets/css/cpIcons.css" rel="stylesheet">

    <!-- JS -->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/buildfire/services/ai/ai.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="js/dialogs/dialogs.js"></script>
    <script src="js/ai/ai.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="webContentPluginCtrl" id="webContentApp" ng-cloak
        ng-show="datastoreInitialized" class="hide-scrollbar">
    <div ng-form="frmMain" class="main-form">
      <div class="item clearfix row">
        <div class="main col-md-12">
          <div class="button-switch flex-between">
            <span>Content Type</span>
            <div>
              <div class="radio radio-primary radio-block">
                <input id="urlRadio" type="radio"
                      name="contentType"
                      ng-model="data.content.isCustomContent"
                      ng-value="false"
                      ng-change="onModeChange()">
                <label for="urlRadio">Website URL</label>
              </div>
              <div class="radio radio-primary radio-block">
                <input id="editorRadio" type="radio"
                      name="contentType"
                      ng-model="data.content.isCustomContent"
                      ng-value="true"
                      ng-change="onModeChange()">
                <label for="editorRadio">Create your own content</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- URL Section: Show only when isCustomContent is false -->
      <div id="urlContent" ng-show="!data.content.isCustomContent">
        <p class="note">You can customize how this webpage opens in the app from the <a onclick="buildfire.navigation.navigateToTab({tabTitle: 'Settings'});">Settings tab</a></p>
        <div class="item margin-bottom-fifteen flex-between">
          <span>URL</span>
          <input id="url" name="url" type="text" class="form-control"
                  ng-model="data.content.url">
          <button class="btn btn-success" ng-click="validateUrl()"
                  ng-disabled="!data.content.url">
            Validate
          </button>
        </div>

        <div class="item">
          <div class="main alerts-wrapper pull-right">
            <div class="alert alert-success alert-sm text-center" ng-if="urlValid">URL
              successfully validated
            </div>
            <div class="alert alert-danger alert-sm text-center" ng-if="urlInValid">
              Invalid Url
            </div>
          </div>
        </div>
      </div>

      <!-- Monaco Editor Section: Show only when isCustomContent is true -->
      <div id="customContent" ng-show="data.content.isCustomContent">
        <p class="note">
          <span class="bold">
            Note:
          </span>
          Always save your code externally as we don't keep versions.
        </p>
        <div class="editor">
          <div id="monacoEditor"></div>
          <div class="assistant-container">
            <div class="assistant-toast">Updated code.
              <span class="icon icon-cross2 dismiss-toast-icon"></span>
            </div>
            <textarea type="text" placeholder="Ask AI to make an edit..." id="assistantPrompt" class="assistant-textarea"></textarea>
          </div>
        </div>

        <div class="flex-between btns-container">
          <div class="flex-between">
            <button id="createWithAiBtn" class="btn create-ai-btn">
              <img src="assets/images/ai_icon.svg" alt="">
              Create with AI
            </button> 
              <a id="undoBtn" class="btn link-btn margin-left-ten">Undo</a>
          </div>
          <button id="reloadEditorBtn" class="btn run-code-btn">Run Code</button>
        </div>
        <hr>
        <div class="button-switch flex-between">
          <div class="text">Auto-Run Code</div>
          <input id="autoReloadSwitch" type="checkbox">
          <label for="autoReloadSwitch" class="label-success"></label>
        </div>
      </div>
    </div>
  </body>
</html>
